Import dependencies

In [1]:
import pandas as pd
from sklearn.externals import joblib
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

Import datasets

In [2]:
X_train = pd.read_csv('./data/X_train.csv', index_col='index')
y_train = pd.read_csv('./data/y_train.csv', index_col='index')
X_test = pd.read_csv('./data/X_test.csv', index_col='index')

In [3]:
X_train.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
index,,,,,,,,,,,,,,,,,,,,
0,2.203928,2.468113,-0.681128,-3.943431,-0.664060,-0.349396,7.862645,2.034899,0.501856,-1.147705,-3.972634,2.167165,1.236912,3.608742,-2.923780,-4.330606,7.270089,1.886028,3.227476,3.366139
1,2.801699,1.957231,-1.146933,-4.945858,-0.670486,0.243789,7.031539,2.131826,0.921411,-1.340411,-0.640727,6.718619,0.937003,3.363707,-0.925438,-3.450032,8.083593,3.520274,7.049398,3.222485
2,4.193108,7.809298,-1.684375,-5.513084,0.025547,0.804822,6.983547,2.167218,-0.550018,2.965257,1.693512,5.677592,0.309459,4.848781,-2.759940,5.743035,8.148344,3.302749,6.839384,2.692368
3,3.669540,4.934285,-0.315118,-5.377414,-0.230470,0.741491,6.468346,0.473281,-0.772502,0.965810,-2.202337,4.571514,-0.857829,3.424472,-3.554396,1.669159,8.656051,3.014398,4.857697,2.563846
4,3.033751,3.485035,-0.917918,-3.603344,-1.007991,0.220485,8.200296,2.361637,-1.747149,0.059725,1.094760,4.896366,0.668765,2.719361,-2.010017,-1.094804,7.348551,3.142555,4.321508,2.589399

In [4]:
X_train.tail()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
index,,,,,,,,,,,,,,,,,,,,
9995,2.797678,2.798650,-0.157867,-3.008819,0.574580,-0.086050,6.526116,-0.201585,-0.579149,-0.904842,1.464782,4.132922,0.747232,5.035576,-3.021707,-2.730801,8.938046,3.574154,4.648644,3.660697
9996,4.157200,4.951132,-0.579542,-5.205137,-0.565005,0.556919,6.544537,0.626598,-1.832305,1.493839,2.052196,4.002791,0.177838,3.352134,-2.388026,3.130213,8.125449,3.411099,3.551671,3.364861
9997,2.905428,4.255036,-0.830102,-5.461225,-0.934732,0.069344,7.015162,2.618359,-0.393688,-0.012509,1.228435,3.222533,1.122077,3.109064,-2.326997,-1.090244,8.049740,2.444311,0.151779,3.345441
9998,1.853221,0.861553,-1.325143,-4.172066,-0.070805,-0.587522,7.732956,0.287742,-0.988324,-2.746426,0.320290,3.305744,-1.240663,4.196674,-3.210836,-7.150955,8.061570,1.967434,2.207577,3.155119
9999,2.770367,3.387813,-0.752460,-3.010565,-1.107789,-0.161191,6.825356,1.281683,-1.473750,-1.228763,1.564292,5.186703,-0.373620,3.543463,-2.264005,-2.808253,8.858696,3.458828,4.582821,3.183464

In [5]:
X_train.isnull().values.any()

False

In [6]:
y_train.shape

(10000, 1)

In [7]:
y_train.head()

         target
index
0      1.446318
1     -1.330263
2      0.374792
3     -1.174259
4     -0.053251

In [8]:
y_train.isnull().values.any()

False

In [9]:
X_test.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
index,,,,,,,,,,,,,,,,,,,,
0,1.763510,0.972116,0.051647,-3.307659,-1.319180,-0.847311,7.198688,1.611161,-0.776195,-2.394379,2.561139,5.388192,-0.494884,5.207430,-3.045478,-7.000570,8.502670,2.715299,2.318375,2.845460
1,4.776933,9.782469,-2.288966,-3.236086,-0.909395,1.242090,6.343358,-0.306951,2.230917,4.668137,4.331233,1.663258,1.891822,4.503295,-3.728724,9.309007,7.583042,3.221132,3.501005,4.024016
2,3.586893,6.154281,-1.326753,-3.412706,-0.006823,0.381224,7.533603,0.749510,0.488980,1.467289,0.146183,3.485006,-0.908195,4.598414,-2.257413,2.447657,7.659571,3.240125,3.720800,3.079362
3,1.652854,1.142413,1.219016,-2.429787,-0.572457,-1.169060,7.166535,1.208046,0.662970,-2.707538,1.666578,5.052041,1.006345,5.009850,-3.036513,-7.440298,8.044695,2.988732,5.752196,3.012178
4,4.242394,7.654420,-0.216958,-2.674814,0.057832,0.937335,7.030558,-0.681355,-2.853027,2.958552,0.905683,7.470667,1.786132,4.946000,-1.137072,5.778128,7.707742,2.690745,3.886902,4.193804

In [10]:
X_test.tail()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
index,,,,,,,,,,,,,,,,,,,,
9995,3.845093,5.464872,-1.292339,-2.972553,-0.970954,0.759257,6.822889,-0.916477,-0.509841,1.765180,1.801172,3.468038,-0.581167,3.758268,-2.508626,2.953625,8.378017,2.853870,2.782412,3.091619
9996,3.202811,4.606842,-1.037945,-3.843265,-0.408386,0.049048,6.538241,0.582714,-1.545815,0.094351,2.858614,5.008538,0.661238,4.746626,-1.938459,-0.227438,8.534254,2.008364,2.304117,2.441698
9997,3.223029,6.005063,-2.728060,-3.734397,-0.953201,0.478897,7.171861,1.733096,-0.113571,1.501760,-1.092651,3.697583,1.140399,5.009869,-4.108862,1.661857,8.186673,3.249102,4.612159,3.090657
9998,3.404132,4.629084,-1.293577,-3.760787,-1.098365,0.200051,7.347541,-0.690791,-2.395612,0.620317,1.538675,0.961460,-0.286888,2.056044,-3.093230,0.658554,8.146394,3.657469,0.877863,1.650886
9999,3.046981,3.971798,0.241981,-4.582758,-1.707782,0.004263,7.338339,0.877906,-0.517586,-0.442716,-1.675348,2.960859,1.915673,4.024832,-2.140286,-1.294014,8.246261,2.353404,4.464785,2.758837

In [11]:
X_test.isnull().values.any()

False

In [12]:
regr = LinearRegression()
regr.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
# report MSE for training set

In [14]:
# coefficients
regr.coef_

array([[-1.60553216e+06, -3.42566823e+05, -1.80817195e-02,
         5.24412785e-02,  9.41958173e-02, -4.18120805e+04,
         1.45405601e-02,  2.30060365e-02,  5.89160096e-03,
        -6.63121462e+05,  3.32638376e-02,  1.59120512e-02,
         2.47802533e-02, -4.13128790e-03, -8.09490390e-03,
         7.74204596e+05,  1.94531995e-01, -8.15708248e-02,
         3.77758402e-03,  2.77407295e-02]])

Generate predictions using X_test dataset, and save to CSV using appropriate format.

In [15]:
# Use trained model to generate predictions
y_pred = regr.predict(X_test)

In [16]:
# intermediate step to create dataframe with named column and index column
y_pred = pd.DataFrame(y_pred, columns=['target'])
y_pred.head()

     target
0  0.582897
1 -0.505984
2 -0.212799
3  0.639440
4 -0.270033

In [17]:
# save to CSV in desired format
y_pred.to_csv('./data/y_pred.csv', index_label='index')

In [19]:
# save trained model to file
joblib.dump(regr, 'RegressionModel.sav')

['RegressionModel.sav']